{% extends 'layout.twig' %}

{% block body %}
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
  <li>
    <a href="/users/from">Cadastro de usuários</a>
  </li>
  <li>
    <a href="/users/logout">Sair</a>
  </li>
</ul>
{% endblock %}