{% extends 'layout.twig' %}

{% block body %}

<h1>Teste de XSS</h1>

<form action="/comments" method="post">
  <label for="comment">
    <textarea name="comment" id="comentario" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="Enviar">
  </label>
</form>

<div>
  {{comments}}
</div>

{% endblock %}